{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceiul{% endblock %}

{% block body %}

    <a href="javascript:history.go(-1)">Retour</a>
    <h1>Mention légales</h1>

    <h2> Rédaction du site Internet</h2>
    <p class="marge">"Ce site n'est pas le site officiel du Musée du Louvre, c'est un exercice pour une formation,tous
        son contenu est fictif"</p>

    <h2 id="#2"> Données à caractère personnel</h2>

    <p class="marge"> Vos données personnelles peuvent être collectées lors de la navigation sur ce site Internet.
        De même, les messages électroniques envoyés au Louvre et les adresses électroniques utilisées pour l'envoi
        d'informations complémentaires sont susceptibles d'être conservées.
        En application des articles 38, 39 et 40 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique,
        aux fichiers et aux libertés, vous disposez, gratuitement, d’un droit d’accès, de rectification, de modification
        et d’opposition aux données qui vous concernent ou concernent les personnes décédées dont vous êtes les
        ayants-cause.
        Si vous souhaitez exercer ce droit vous pouvez vous adresser à la rédaction du site par courrier à l'adresse
        ci-dessus.
    </p>

    <h3> Propriété Intellectuelle et informations publiques culturelles</h3>

    <p class="marge"> 1) La structure générale du site Internet, ainsi que les logiciels et les bases de données sont la
        propriété
        exclusive du musée du Louvre. Toute reproduction, toute représentation totale ou partielle, toute utilisation,
        toute adaptation, toute mise à disposition ou modification de ces éléments par quelque procédé que ce soit, par
        quelque personne que ce soit et par quelque moyen que ce soit (notamment la vente, la commercialisation, la
        location, etc.)
        sans l’autorisation expresse du musée, des éventuels auteurs ou de leurs ayant droits est strictement interdite
        et constitue un délit de contrefaçon au sens du code de la propriété intellectuelle.
    </p>

    >








{% endblock %}