{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceiul{% endblock %}

{% block body %}

    <h3></h3>
    <h3>Horaire</h3>

    <P class="marge">Le musé est ouvert tous les jours sauf le mardi, dimanche et fermé les 1er mai, 1er novembre et 25
        décembre,</P>
    <P class="marge"> de 9h jusqu'à 22h.</P>

    <h3>Tarif</h3>

    <P class="marge">Normal à partir de 12 ans : 16€</P>
    <P class="marge">Senior à partir de 60 ans : 12€</P>
    <P class="marge">Enfant à partir de 4 ans jusqu'a 12 ans : 8€</P>
    <P class="marge">Enfant de moins 4 ans : Gratuit</P>



{% endblock %}