{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceiul{% endblock %}

{% block body %}

    <h3></h3>

    <h3>Tarif</h3>

    <P>Normal à partir de 12 ans : 16€</P>
    <P>Sénior à partir de 60 ans : 12€</P>
    <P>Enfant à partir de 4 ans jusqu'a 12 ans : 8€</P>
    <P>Enfant de moins 4 ans : Gratuit</P>








{% endblock %}